/* Reset ---------------------------------------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #efefef;
  line-height: 2;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Fira Mono";
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
}

img {
  max-width: 100%;
  height: auto;
}


/* App Styles ----------------------------------------------------------------*/
.app {
  width: 70vw;
  height: 50vh;
  background: white;
  border: 1px solid rgb(230, 230, 230);
  position: relative;
  left: 50vw;
  transform: translate(-50%, 30%);
  box-shadow: 0px 5px 40px -5px rgba(33, 38, 37, 0.25);
}

.app-title,
.app-nav,
.app-content {
  padding: 1rem;
}

/* Header ----------------------------*/
.app-header {
  background: white;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.app-title-link.active {
  color: red;
}

/* App Nav --------------------------*/
.app-nav {
  width: 100%;
  border-top: 1px solid rgb(230, 230, 230);
}

.app-nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
}

.nav-item.active a {
  color: red;
  pointer-events: none;
}

/* App Content ----------------------*/
.app-content-title {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 0 1rem 1rem;
  margin: 0 -1rem 1rem;
  color: black;
}


/* Projects Page -------------------------------------------------------------*/
.projects {
  display: flex;
}

/* Projects Nav ---------------------*/
.projects-nav {
  flex: none;
  margin: -1rem 1rem 0 -1rem;
  padding: 1rem;
}

.projects-nav-item a {
  color: blue;
}

.projects-nav-item.active a {
  color: red;
}


/* Project ------------------------------------------------------------------ */
.project {
  width: 100%;
}